<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manual Data Entry</title>
  <link rel="stylesheet" href="static/css/manual.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <h2>Manual Data Entry</h2>
      <p>Please fill in the following details:</p>
    </div>

    <div class="form-container">
      <form id="data-form" action = "{{url_for('byUser')}}" method = "post">
        <div class="input-block">
          <label for="methane">Methane:</label>
          <input type="text" id="methane" name = "methane" placeholder="Enter Methane Value" required>
        </div>

        <div class="input-block">
          <label for="temperature">Temperature:</label>
          <input type="text" id="temperature" name= "temperature" placeholder="Enter Temperature Value" required>
        </div>

        <div class="input-block">
          <label for="humidity">Humidity:</label>
          <input type="text" id="humidity" name="humidity" placeholder="Enter Humidity Value" required>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
