body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
  min-height: 100vh;
  background-color: #e6b3e6; /* Dark shade of pink */
  padding: 20px;
}

.content {
  font-size: 31px;
  font-weight: 600px;
  text-shadow: 2px 4px 2px #b5749d;
  flex: 0 0 40%; /* Adjust the width of the content section */
  color: #333; /* Text color for the content */
  text-align: center; /* Center text horizontally */
}

.form-container {
  flex: 0 0 50%; /* Adjust the width of the form container */
  background-color: #add8e6; /* Light shade of blue */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Limit the maximum width of the form */
  width: 100%; /* Take full width of the container */
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.input-block {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: calc(100% - 22px); /* Adjust width to account for padding and border */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4ca0fa;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Take full width of the container */
}

button[type="submit"]:hover {
  background-color: #0153aa;
}